<h1>All restaurants:</h1>

<% @restaurants.each do |restaurant| %>
<h2><%= restaurant.name %></h2>
<h4>Category: <%= restaurant.category.capitalize %></h3>
<h5>Address: <%= restaurant.address %></h3>
<h5> <%= restaurant.phone_number %></h5>
<% end %>
